/* index.css */
/* 111 */ /* 222 */
body {
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }



header {
    position:fixed; left:0; top:0;
    display: flex; gap:50px; align-items: center;
    padding-left:40px;
    width:100%; height:54px;
    border-bottom:0.3px solid rgba(51,51,51,0.3);
    z-index: 800;
}
header.hide {
    opacity: 0;
    pointer-events: none;
}
header nav {}
header nav a {
    font-size:0.875rem;
    font-weight: 700;
    opacity: 0.6;
    transition: opacity 0.2s;
    margin-right:50px;
    transition: color 0.7s ease, opacity 0.7s ease;
}
header a:hover,
header nav a.active {
    color:#1B3C53;
    opacity: 1;
}
header a:last-child {margin-right: 0;}

#wrap {
    height:100vh;
}
#wrap .swiper-wrapper {}
#wrap .swiper-wrapper .swiper-slide {}
#wrap .swiper-wrapper .intro {
    position:relative;
}


/* ------------------------------- 인트로 */
/* #wrap .swiper-wrapper .intro .title .top_line::after {
    content: "";
    position: absolute;
    bottom: 50%; left: 77%;
    transform: translateX(-50%);
    width: 1px;
    height: 0;
    background-color: #1B3C53;
    animation: growLine 1.2s ease forwards;
    animation-delay: 0.3s; 
} */

#wrap .swiper-wrapper .intro {
    /* background-image: url(../images/intro.png); */
    position:relative;
}
#wrap .swiper-wrapper .intro h1 {
    font-size:9.375rem; font-weight: 900;
    color:#1B3C53; letter-spacing: 0.2em;
    margin:100px 0 20px 200px;
}
#wrap .swiper-wrapper .intro > p {
    font-size: 1.875rem;
    color: #1B3C53;
    margin:0 0 22px 205px;
}
#wrap .swiper-wrapper .intro .square {
    position:absolute; right:250px; top:70px;
}
#wrap .swiper-wrapper .intro .year::after {
    content:''; display:block;
    position: absolute;
    width:1px; height:0;
    background-color: #1B3C53; opacity: 0.5;
    margin-top: 22px;
    transform: translateX(-50%);
    animation:line 4s ease infinite;
}

@keyframes line {
    0% { height: 0; }
    100% { height: 230px; }
}

#wrap .swiper-wrapper .intro .container {
    position:absolute; right:430px; top:420px;
    width:400px; text-align: center;
}
#wrap .swiper-wrapper .intro .container #web_swiper {
    width:400px; height:226px;
}
#wrap .swiper-wrapper .intro .container #web_swiper .swiper-wrapper {
    transition-timing-function: linear;
}

#wrap .swiper-wrapper .intro .container #web_swiper .swiper-slide {
    font-size: 2.25rem;
    color: #1B3C53;
    transition: transform 0.3s, opacity 0.3s;
}

/* 중앙 슬라이드 강조 */
#wrap .swiper-wrapper .intro .container #web_swiper .swiper-slide-active {
    transform: scale(1.2);
    font-weight: bold;
    color: #1B3C53;
    z-index: 10;
}

/* 옆 슬라이드 작게 */
.container #web_swiper .swiper-slide-prev,
.container #web_swiper .swiper-slide-next {
    transform: scale(0.85);
    opacity: 0.6;
    color: #1B3C53;
}

#wrap .swiper-wrapper .intro .arrow_wrap {}
#wrap .swiper-wrapper .intro .arrow_wrap .left_arrow {
    position:absolute; right: 840px; top:487px;
}
#wrap .swiper-wrapper .intro .arrow_wrap .right_arrow {
    position:absolute; right:390px; top:487px;
}

#wrap .swiper-wrapper .intro .contact {
    display:flex; flex-flow:column nowrap;
    gap:30px;
    position:absolute; left:205px; bottom:100px;
}
#wrap .swiper-wrapper .intro .contact h2 {
    color:#1B3C53;
    font-size: 1.5rem;
    letter-spacing:0.14em;
}
#wrap .swiper-wrapper .intro .contact > p {
    font-size: 1.25rem; color:#1B3C53;
}
#wrap .swiper-wrapper .intro .contact .phone {
    display: flex; gap:10px;
}
#wrap .swiper-wrapper .intro .contact .phone span {
    color:#1B3C53;
}
#wrap .swiper-wrapper .intro .contact .email {
    display: flex; gap:10px;
}
#wrap .swiper-wrapper .intro .contact .email span {
    color:#1B3C53;
}
#wrap .swiper-wrapper .intro .contact .phone span:first-child,
#wrap .swiper-wrapper .intro .contact .email span:first-child {
    font-size: 1.125rem;
}

#wrap .swiper-wrapper .intro .contact .phone p:first-child,
#wrap .swiper-wrapper .intro .contact .email p:first-child {
    margin-bottom:10px;
    font-size: 1.125rem;
}



/* ------------------------------- 프로필 */
#wrap .swiper-wrapper .profile {
    /* background: url(../images/ji_yun.png) no-repeat center 40% / contain; */
}
#wrap .swiper-wrapper .profile .top {
    width:914px;
    margin:200px 0 0 110px;
    display: flex; gap:100px; align-items: center;
}
#wrap .swiper-wrapper .profile .top .profile_photo {
    display: flex; gap:50px; align-items: center;
}
#wrap .swiper-wrapper .profile .top .profile_photo .me_photo {}
#wrap .swiper-wrapper .profile .top .profile_photo .me_photo img {}
#wrap .swiper-wrapper .profile .top .profile_photo p {
    display: flex; flex-flow: column nowrap;
    gap:30px; 
}
#wrap .swiper-wrapper .profile .top .profile_photo p span {}
#wrap .swiper-wrapper .profile .top .profile_photo p span:last-child {
    font-size: 1.75rem; font-weight: 300;
}
#wrap .swiper-wrapper .profile .top .profile_photo p span em {
    font-size: 3rem; font-weight: 600;
    margin-right:10px;
    letter-spacing: 0.1em;
}

#wrap .swiper-wrapper .profile .top .profile_wrap {}
#wrap .swiper-wrapper .profile .top .profile_wrap .profile_cont {
    display:flex; flex-flow: column nowrap;  gap:20px;
}
#wrap .swiper-wrapper .profile .top .profile_wrap .profile_cont li {
    font-size: 1.125rem;
}
#wrap .swiper-wrapper .profile .top .profile_wrap .profile_cont li em {
    display: inline-block;
    width:62px; margin-right:20px;
    font-weight: 600;
}
#wrap .swiper-wrapper .profile .top .profile_wrap .profile_cont li span {}

#wrap .swiper-wrapper .profile > p {
    width:1700px;
    margin:210px 0 0 110px;
}
#wrap .swiper-wrapper .profile > p img {width:100%}
#wrap .swiper-wrapper .profile .skill {
    width:653px;
    position:absolute; right:100PX; top:-155PX;
}
#wrap .swiper-wrapper .profile .skill img {width:100%}



/* ------------------------------- 웹디자인 */
#wrap .swiper-wrapper .web_design {}
#wrap .swiper-wrapper .web_design .title {
    padding:50px 80px; margin-top:54px;
    text-align: left;
}
#wrap .swiper-wrapper .web_design .title h2 {
    font-size: 3rem; font-weight: 600;
    margin-bottom:20px;
    color:rgba(27,60,83,0.8)
}
#wrap .swiper-wrapper .web_design .title p {
    font-size: 1.25rem  ;
}

#wrap .swiper-wrapper .web_design .container {
    width:1300px; margin:0 auto;
    padding:20px 0 60px;
    position:relative;
}
#wrap .swiper-wrapper .web_design .container #project_swiper {
    height:600px; width:1200px;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper {}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide {
    display: flex; gap:100px; justify-content: center;
    align-items: center;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide p {
    width:600px; 
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide p img {width:100%;}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content {
    width:400px; height:max-content;

}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content p {
    margin-bottom:40px;

}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content p span {
    font-size: 1.125rem; margin-right:10px;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content p em {
    font-size: 1.75rem; font-weight: 500;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content ul {}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content ul li {
    margin-bottom:20px;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content ul li:last-child {
    margin-bottom:0;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content .btn_wrap {
    display: flex; justify-content: space-between;
    margin-top:40px;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content .btn_wrap a {
    width:195px; padding:10px 65px;
    border:1px solid #1B3C53; color:#1B3C53;
    border-radius: 5px;
    font-size:0.875rem;
    transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}
#wrap .swiper-wrapper .web_design .container #project_swiper .swiper-wrapper .swiper-slide .content .btn_wrap a:hover {
    background-color: #1B3C53;
    color:#F9F3EF;
}

#wrap .swiper-wrapper .web_design .container .swiper-button-prev,
#wrap .swiper-wrapper .web_design .container .swiper-button-next {
    color:#1B3C53;
}
/* 11 */
#wrap .swiper-wrapper .web_design .container .swiper-pagination-bullet {
    background-color: #1B3C53;
}

/* ------------------------------- 배너디자인 */
#wrap .swiper-wrapper .banner_design {}
#wrap .swiper-wrapper .banner_design h2 {
    padding:50px 80px; margin-top:54px;
    font-size:3rem; font-weight:600;
    color:rgba(27,60,83,0.8);
}

#wrap .swiper-wrapper .banner_design .bnr_container {}
#wrap .swiper-wrapper .banner_design .bnr_container #bnr_swiper {
    /* background-color:aqua; */
    border-radius: 20px;
    width:1600px; height:200px;
    margin:50px auto 0;
}
#wrap .swiper-wrapper .banner_design .bnr_container #bnr_swiper .swiper-wrapper {
    transition-timing-function: linear;
}
#wrap .swiper-wrapper .banner_design .bnr_container #bnr_swiper .swiper-wrapper .swiper-slide {
    width:400px; cursor: pointer;
}
#wrap .swiper-wrapper .banner_design .bnr_container #bnr_swiper .swiper-wrapper .swiper-slide img {
    width:100%;
}


#wrap .swiper-wrapper .banner_design .container {}
#wrap .swiper-wrapper .banner_design .container #sns_swiper {
    /* background-color:aqua; */
    border-radius: 20px;
    width:1600px; height:380px;
    margin:10px auto 0;
}
#wrap .swiper-wrapper .banner_design .container #sns_swiper .swiper-wrapper {
    transition-timing-function: linear;
}
#wrap .swiper-wrapper .banner_design .container #sns_swiper .swiper-wrapper .swiper-slide {
    cursor: pointer;
}
#wrap .swiper-wrapper .banner_design .container #sns_swiper .swiper-wrapper .swiper-slide img {
    width:100%;
}

/* ------------------------------- 상세페이지 */
#wrap .swiper-wrapper .detailed_page {}
#wrap .swiper-wrapper .detailed_page h2 {
    padding:50px 80px; margin-top:54px;
    font-size:3rem; font-weight:600;
    color:rgba(27,60,83,0.8);
}
#wrap .swiper-wrapper .detailed_page .container {
/*     border-top:1px solid #1B3C53;
    border-bottom:1px solid #1B3C53; */
    width:1920px; 
    padding:30px 0;
}
#wrap .swiper-wrapper .detailed_page .container #detail_swiper {}
#wrap .swiper-wrapper .detailed_page .container #detail_swiper .swiper-wrapper {
    transition-timing-function: linear;
}
#wrap .swiper-wrapper .detailed_page .container #detail_swiper .swiper-wrapper .swiper-slide {
    width:250px; height:600px;
    cursor: pointer;
}
#wrap .swiper-wrapper .detailed_page .container #detail_swiper .swiper-wrapper .swiper-slide img {
    width:100%;
}

/* ------------------------------- 아웃트로 */
/* #wrap .swiper-wrapper .outro {
    background: url(../images/intro1.png) 65% center / cover;
    position:relative;
}
#wrap .swiper-wrapper .outro h2 {
    font-size: 4rem; font-weight: 700;
    
}
#wrap .swiper-wrapper .outro .thank_you {
    position:absolute; right:510px; top:427px;
}
#wrap .swiper-wrapper .outro .for_reading {
    position:absolute; right:320px; bottom:380px;
}

#wrap .swiper-wrapper .outro h2 span {
    letter-spacing: 0.14em;
    font-size: 4rem; font-weight: 600;
}
#wrap .swiper-wrapper .outro h2 .thank {
    color:#F9F3EF;
}
#wrap .swiper-wrapper .outro h2 .you {
    color:#1B3C53;
}

#wrap .swiper-wrapper .outro .contact {
    display:flex; flex-flow:column nowrap;
    gap:50px;
    position:absolute; left:80px; bottom:62px;
}
#wrap .swiper-wrapper .outro .contact h3 {
    color:#F9F3EF;
    font-size: 1.5rem;
    letter-spacing:0.14em;
}
#wrap .swiper-wrapper .outro .contact h3 .phone {}
#wrap .swiper-wrapper .outro .contact .phone p {
    color:#F9F3EF;
}
#wrap .swiper-wrapper .outro .contact h3 .email {}
#wrap .swiper-wrapper .outro .contact .email p {
    color:#F9F3EF;
}
#wrap .swiper-wrapper .outro .contact .phone p,
#wrap .swiper-wrapper .outro .contact .email p {
    margin-bottom:10px; font-size: 1.125rem;
}

#wrap .swiper-wrapper .outro .content {
    position:absolute; right:370px; bottom:280px;
}
#wrap .swiper-wrapper .outro .content p {
    color:#1B3C53;
    animation:contentUp 2s ease both;
}
#wrap .swiper-wrapper .outro .content p:first-child {
    animation-delay: 0.4s;
}
#wrap .swiper-wrapper .outro .content p:last-child {
    margin-top:10px;
    line-height:1.6;
    animation-delay: 0.6s;
}
#wrap .swiper-wrapper .outro .thank_you::after {
    content: "";
    position: absolute;
    bottom: 68%; left:0.6%;
    transform: translateX(-50%);
    width: 1px;
    height: 0;
    background-color: #F9F3EF;
    animation: growLine 1.2s ease forwards;
    animation-delay: 0.3s; 
} */




/* 팝업디자인 모음 */
/* -------------------------------------- 배너팝업 */
.bnr_popupbg {
    position:fixed; left:0; top:0;
    z-index: 500;
    background: rgba(0,0,0,0.5);
    width:100%; height:100vh;
    display:none;
}
.bnr_popupbg .popup {
    width:max-content; height:max-content;
    margin:250px auto;
    overflow:auto;
}
.bnr_popupbg .popup img {width:100%;}

/* -------------------------------------- 디자인팝업 */
.sns_popupbg {
    position:fixed; left:0; top:0;
    z-index: 500;
    background: rgba(0,0,0,0.5);
    width:100%; height:100vh;
    display:none;
}
.sns_popupbg .popup {
    width:700px; margin:80px auto;
    height:800px; overflow:auto;
}
.sns_popupbg .popup img {width:100%;}

/* -------------------------------------- 디자인팝업 */
.detail_popupbg {
    width:100%; height:100vh;
    background-color: rgba(0,0,0,0.5);
    position:fixed; left:0; top:0;
    z-index: 500;
    display: none;
}
.detail_popupbg .popup {
    width:700px; height:850px;
    margin:60px auto; overflow:auto;

}
.detail_popupbg .popup img {width:100%}